body{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(white,rgb(250, 234, 146));
}

.container{
  display: flex;
  align-items: center;
  justify-content:center ;
  
 flex-wrap: wrap;

}
.logo{
  display: flex;
 
  align-items: center;
  justify-content: center;

  width: 100%;
 
}

.item1{
  width: 34%;
}
.item2{
  width: 56%;
}
.item3 div{
  width: 90%;
  display: flex;
 
  align-items: center;
  justify-content: center
  
  
}
.item3{
  padding: 20px;
}
.item4{
  width: 100%;

}
.table{
  padding:20px;
  width: 95%;
  background-color: rgb(243, 77, 47);
  color: white;
}

@media (max-width: 1400px) {
   
  img{
height: 300px;
  }
  .item3{
      width: 450px;
  }

}

@media (max-width: 890px) {


 
  .container {
      justify-content:left;
      align-items: center;
    flex-direction: column;
  
    
   
  }

  .logo{
      height: 200px;
      
  }
  img{
      height: 300px;
  }
 

  
}


@media (max-width: 500px) {
   
  img{
height: 150px;
  }
  .item3{
      width: 500px;
  }
  .table{
      font-size: 10px;
  }

}

